/* 
  Instead of importing styles from 'highlight.js/styles/base16/dracula.css'
  I copied the css over and replaced the colors with actual dracula colors.
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: #f8f8f2;
  background: #282936;
}
.hljs ::selection,
.hljs::selection {
  background-color: #4d4f68;
  color: #f8f8f2;
}
.hljs-comment {
  color: #ffb86c;
  color: #6272a4;
}
.hljs-tag {
  color: #8be9fd;
}
.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: #f8f8f2;
}
.hljs-operator {
  opacity: 0.7;
}
.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  color: #ff79c6;
}
.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: #bd93f9;
}
.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: #50fa7b;
}
.hljs-strong {
  font-weight: 700;
  color: #50fa7b;
}
.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #f1fa8c;
}
.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: #8be9fd;
}
.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: #8be9fd;
}
.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: #bd93f9;
}
.hljs-emphasis {
  color: #bd93f9;
  font-style: italic;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #50fa7b;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700;
}
